[submodule "raylib-lua"]
	path = raylib-lua
	url = https://github.com/TSnake41/raylib-lua
[submodule "deps/luv"]
	path = deps/luv
	url = https://github.com/luvit/luv
[submodule "deps/lua-miniz"]
	path = deps/lua-miniz
	url = https://github.com/starwing/lua-miniz
